org_id                      = "123456789012"
all_users_ingress_tag_key   = "myAllUsersIngressTag"
all_users_ingress_tag_value = "myAllUsersIngressTag"
project_id                  = "my-project-id"
region                      = "us-central1"
doc_ai_region               = "us"
api_domain_name             = "document-ai-rest-api.my-domain.com"
sourcerepo_name             = ""
sourcerepo_branch_name      = "main"